/* Leetcode */

div[class*="text-difficulty"] {
    display: none !important;
}

div[role="row"] > div[role="cell"]:nth-child(4),
div[role="row"] > div[role="cell"]:nth-child(5) {
    visibility: hidden !important;
}

div.ml-4.flex-none {
    visibility: hidden !important;
}

/* Geeks for Geeks */

div[class*="problems_header_description"] {
    display: none !important;
}

p[class*="problemOfTheDay_problemDescription"] {
    /* visibility: hidden; */
    display: none !important;
}